<a href="https://colab.research.google.com/github/solee328/LikeLion_EDA/blob/ah-hyeon/%EC%84%9C%EC%9A%B8%EC%8B%9C_%EC%9D%BC%EB%B0%98%EC%9D%8C%EC%8B%9D%EC%A0%90__EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
!git clone https://github.com/solee328/LikeLion_EDA.git

fatal: destination path 'LikeLion_EDA' already exists and is not an empty directory.

In [65]:
!ls -ltr

total 182128
drwxr-xr-x 1 root root      4096 Mar 25 13:38  sample_data
-rw-r--r-- 1 root root 176887030 Apr  6 15:46 '서울특별시 일반음식점 인허가 정보.csv'
-rw-r--r-- 1 root root   9595100 Apr  6 15:56  malgun.ttf
drwxr-xr-x 3 root root      4096 Apr  6 19:22  LikeLion_EDA

In [33]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [55]:
df = pd.read_csv("/content/서울특별시 일반음식점 인허가 정보.csv", delimiter=',', encoding='CP949')
print(df.shape)
print(df.info())
print(df.head())

print('결측치 확인;\n',df.isna().sum())

(461559, 44)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461559 entries, 0 to 461558
Data columns (total 44 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   개방자치단체코드   461559 non-null  int64
 1   관리번호       461559 non-null  object
 2   인허가일자      461559 non-null  int64
 3   인허가취소일자    0 non-null       float64
 4   영업상태코드     461559 non-null  int64
 5   영업상태명      461559 non-null  object
 6   상세영업상태코드   461559 non-null  int64
 7   상세영업상태명    461559 non-null  object
 8   폐업일자       337740 non-null  float64
 9   휴업시작일자     0 non-null       float64
 10  휴업종료일자     0 non-null       float64
 11  재개업일자      0 non-null       float64
 12  전화번호       326595 non-null  object
 13  소재지면적      426089 non-null  float64
 14  소재지우편번호    461313 non-null  float64
 15  지번주소       461321 non-null  object
 16  도로명주소      210568 non-null  object
 17  도로명우편번호    207111 non-null  float64
 18  사업장명       461558 non-null  object
 19  최종수정일자     461559 non-null  int64
 20  데이터갱신구분    461559 non-null  object
 21  데이터갱신일자    461559 non-null  object
 22  업태구분명      461539 non-null  object
 23  좌표정보(X)    436927 non-null  float64
 24  좌표정보(Y)    436927 non-null  float64
 25  위생업태명      422885 non-null  object
 26  남성종사자수     267898 non-null  float64
 27  여성종사자수     270123 non-null  float64
 28  영업장주변구분명   245822 non-null  object
 29  등급구분명      236715 non-null  object
 30  급수시설구분명    295536 non-null  object
 31  총인원        0 non-null       float64
 32  본사종업원수     103 non-null     float64
 33  공장사무직종업원수  102 non-null     float64
 34  공장판매직종업원수  102 non-null     float64
 35  공장생산직종업원수  102 non-null     float64
 36  건물소유구분명    1 non-null       object
 37  보증액        103 non-null     float64
 38  월세액        103 non-null     float64
 39  다중이용업소여부   422902 non-null  object
 40  시설총규모      422902 non-null  float64
 41  전통업소지정번호   1724 non-null    object
 42  전통업소주된음식   909 non-null     object
 43  홈페이지       0 non-null       float64
dtypes: float64(21), int64(5), object(18)
memory usage: 154.9+ MB
None
   개방자치단체코드                    관리번호     인허가일자  ...  전통업소지정번호  전통업소주된음식 홈페이지
0   3000000  3000000-101-2001-11784  20010214  ...       NaN       NaN  NaN
1   3000000  3000000-101-2001-11802  20010214  ...       NaN       NaN  NaN
2   3200000  3200000-101-2020-00255  20200602  ...       NaN       NaN  NaN
3   3220000  3220000-101-2020-00599  20200605  ...       NaN       NaN  NaN
4   3000000  3000000-101-2004-00032  20040127  ...       NaN       NaN  NaN

[5 rows x 44 columns]
결측치 확인;
 개방자치단체코드          0
관리번호              0
인허가일자             0
인허가취소일자      461559
영업상태코드            0
영업상태명             0
상세영업상태코드          0
상세영업상태명           0
폐업일자         123819
휴업시작일자       461559
휴업종료일자       461559
재개업일자        461559
전화번호         134964
소재지면적         35470
소재지우편번호         246
지번주소            238
도로명주소        250991
도로명우편번호      254448
사업장명              1
최종수정일자            0
데이터갱신구분           0
데이터갱신일자           0
업태구분명            20
좌표정보(X)       24632
좌표정보(Y)       24632
위생업태명         38674
남성종사자수       193661
여성종사자수       191436
영업장주변구분명     215737
등급구분명        224844
급수시설구분명      166023
총인원          461559
본사종업원수       461456
공장사무직종업원수    461457
공장판매직종업원수    461457
공장생산직종업원수    461457
건물소유구분명      461558
보증액          461456
월세액          461456
다중이용업소여부      38657
시설총규모         38657
전통업소지정번호     459835
전통업소주된음식     460650
홈페이지         461559
dtype: int64

In [63]:

df['인허가일자'] = pd.to_datetime(df['인허가일자'])
df['폐업일자'] = pd.to_datetime(df['폐업일자'])
df.drop(df[(df['폐업일자'].dt.year>2020)].index, inplace=True)
df.drop(df[(df['폐업일자'].dt.year == 2020) & (df['폐업일자'].dt.month>3)].index, inplace=True)

df['연도'],df['월'] = df['폐업일자'].dt.year,df['폐업일자'].dt.month
df[['시도','시군구']] = df['도로명주소'].str.split(' ',expand=True).iloc[:,[0,1]]
df['영업기간'] = df['폐업일자'] - df['인허가일자']

seoul_food_store = df.loc[:,['시도','시군구','업태구분명','폐업일자','연도','월','인허가일자','사업장명','도로명주소','영업기간','좌표정보(X)','좌표정보(Y)']]

seoul_food_store.drop(seoul_food_store[seoul_food_store['시도'].isnull()==True].index, inplace=True)

seoul_food_store.tail(10)

           시도  시군구  ...        좌표정보(X)        좌표정보(Y)
461549  서울특별시  강서구  ...  183064.578011  451093.161395
461550  서울특별시   중구  ...  200506.529040  451639.906240
461551  서울특별시  강북구  ...  201882.350000  459066.363333
461552  서울특별시  마포구  ...  192562.613603  451589.902289
461553  서울특별시  마포구  ...  192895.869567  449785.647679
461554  서울특별시  마포구  ...  193050.191844  449790.246296
461555  서울특별시  마포구  ...  192705.163728  449650.883894
461556  서울특별시  마포구  ...  193336.038751  450412.144687
461557  서울특별시  마포구  ...  192830.999515  450368.570888
461558  서울특별시  마포구  ...  192812.213955  449904.096594

[10 rows x 12 columns]

In [37]:
#결측치 점검
#seoul_food_store.isna().sum()

상세영업상태명    0
폐업일자       0
지번주소       0
업태구분명      0
시          0
구          0
dtype: int64

In [ ]:
업태구문 pichart / 2017-2021 폐업수 / 2019-2021 업태별 폐업 / 2019-2021 구별폐업 / 영업기간 boxplot